* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formMargin {
    @apply flex flex-col px-5 py-8 lg:px-20 lg:py-12 w-full justify-between h-screen;
}
.formContainerTop {
    @apply flex flex-col justify-between gap-5;
}
.button {
    @apply text-white px-5 py-3 rounded-lg;
}
